#h1_1{
    text-align: center;
  }
  
  #textbox{
  
  }
  #a1{
    text-decoration-line: none;
  
  }
  
  #h2_1{
    text-decoration-line: underline;
  }
  
  #nb1_ul1 li{
    display: inline;
    padding: 75px;
  }
  
  #p1{
    text-align: center;
    margin: 0;
  }
  
  #ul1_li1{
  }
  
  #ul1_li2{
  }
  
  #ul_li3{
  
  }
  
  ol li{
    padding: 5px;
  }
  
  section h3{
    text-decoration: underline;
  }
  